@charset "utf-8";
/* CSS Document */




div.mSlider {
	overflow:hidden;
	padding:0;
	background-color:transparent;
	position:relative;
}
div.mSlider div.stage {
	position:relative;
	background-color:transparent;
	top:0;
	-moz-user-select:none;
	-khtml-user-select: none;
}
div.mSlider div.controlContainer {
	position:absolute;
	width:100%;
}
div.mSlider div.stageSlider .pic {
	background-image:url('../img/ajax-loader.gif');
	background-position: center center;
	background-repeat:no-repeat;
}
div.mSlider div.stageMask {
	position:absolute;
	width: 100%;
	height:100%;
}
div.mSlider div.stageMask div.corner {
	position:absolute;
	width: 45px;
	height:45px;
}
div.mSlider div.stageMask div.tl {
	background-image:url('../img/rounded/tl.png');
	top:0;
	left:0;
}
div.mSlider div.stageMask div.tr {
	background-image:url('../img/rounded/tr.png');
	top:0;
	right:0;
}
div.mSlider div.stageMask div.bl {
	background-image:url('../img/rounded/bl.png');
	bottom:0;
	left:0;
}
div.mSlider div.stageMask div.br {
	background-image:url('../img/rounded/br.png');
	bottom:0;
	right:0;
}
div.mSlider div.designLayer {
	position:relative;
}



/* Buttons - Content */

div.mSlider div.stage div.butLeft, div.mSlider div.stage div.butRight {
	position:absolute;
	width:5%;
	height:100%;
	cursor:pointer;
	background-color:transparent;
	background-repeat:no-repeat;
}
div.mSlider div.stage div.butLeft {
	left:0;
	background-image:url('../img/but_back.png');
	background-repeat:no-repeat;
	background-position:left;
	width:50px;
}
div.mSlider div.stage div.butLeft.over {
	background-position:right;
}
div.mSlider div.stage div.butRight {
	right:0;
	background-image:url('../img/but_next.png');
	background-repeat:no-repeat;
	background-position:left;
	width:50px;
}
div.mSlider div.stage div.butRight.over {
	background-position:right;
}




/* InfoArea */

div.mSlider div.stage div.infoArea {
	position:absolute;
	width:90%;
	left:5%;
	height:100%;
	background:url('../img/transparent.gif');
}
div.mSlider div.stage div.infoArea div {
	position:absolute;
	background-color:transparent;
	cursor:pointer;
}
div.mSlider div.stage div.infoArea a img {
	border:none;
}


/* Navigation */

div.mSlider div.navigation {
	background-color:transparent;
	position:absolute;
	top:0px;
	right:7px;
	padding:0px;
	margin:0;
}
div.mSlider div.navigation div.pageWrapper, div.mSlider div.navigation div.page, div.mSlider div.navigation div.but {
	border:0;
	text-align:center;
	float:left;
	color:#999;
	background-color:transparent;
	height:100%;
}
.mSlider div.navigation div.but {
	cursor:pointer;
	-moz-user-select:none;
	-khtml-user-select: none;
}
.mSlider div.navigation div.but div.body {
	vertical-align:middle;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:left;
}



/* Buttons - Navigation - Standard */

div.mSlider div.navigation div.but.stop div.body, div.mSlider div.navigation div.but.back div.body, div.mSlider div.navigation div.but.next div.body {
	left:0;
}
div.mSlider div.navigation div.but.stop div.body {
	background-image:url('../img/nav_stop_number.png');
	width:16px;
}
div.mSlider div.navigation div.stop.over div.body {
	background-position:center;
}
div.mSlider div.navigation div.stop.active div.body {
	background-position:right;
}
div.mSlider div.navigation div.but.back div.body, div.mSlider div.navigation div.but.next div.body {
	width:11px;
}
div.mSlider div.navigation div.back div.body {
	background-image:url('../img/nav_back_number.png');
}
div.mSlider div.navigation div.back.over div.body {
	background-position:right;
}
div.mSlider div.navigation div.next div.body {
	background-image:url('../img/nav_next_number.png');
}
div.mSlider div.navigation div.next.over div.body {
	background-position:right;
}
/* Navigation - Pages */

div.mSlider div.navigation div.page {
	margin:0 2px;
}
div.mSlider div.navigation div.page div.body {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#aaa;
	padding: 0 7px;
	font-size:12px;
	font-weight:bold;
	font-family: Tahoma, Geneva, sans-serif;
}
div.mSlider div.navigation div.page:hover div.body {
	color:#062345;
}
div.mSlider div.navigation div.page.active div.body {
	cursor:default;
	background-color:#062345;
	color:#FFF;
}




/* Navigation - THUMBNAILS ----------- */


/* Buttons - Navigation - Thumbnail */

div.mSlider.thumbnail div.navigation div.stop div.body {
	width:60px;
}
div.mSlider.thumbnail div.navigation div.back div.body, div.mSlider.thumbnail div.navigation div.next div.body {
	width:30px;
}
div.mSlider.thumbnail div.navigation div.but.stop div.body {
	background-image:url('../img/nav_stop_thumb.png');
}
div.mSlider.thumbnail div.navigation div.but.back div.body {
	background-image:url('../img/nav_back_thumb.png');
}
div.mSlider.thumbnail div.navigation div.but.next div.body {
	background-image:url('../img/nav_next_thumb.png');
}


/* Buttons - Navigation - Pages */

div.mSlider.thumbnail div.navigation div.page img.out {
	display:block;
	position:relative;
}
div.mSlider.thumbnail div.navigation div.page img.over {
	display:none;
	position:absolute;
}
div.mSlider.thumbnail div.navigation div.pageWrapper div.page.over img.out, div.mSlider.thumbnail div.navigation div.pageWrapper div.page.active img.out {
	display:none;
	position:absolute;
}
div.mSlider.thumbnail div.navigation div.pageWrapper div.page.over img.over, div.mSlider.thumbnail div.navigation div.pageWrapper div.page.active img.over {
	display:block;
	position:relative;
}
div.mSlider.thumbnail div.navigation div.page div.body {
	padding: 0 2px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
div.mSlider.thumbnail div.navigation div.page.active div.body {
	cursor:default;
	background-color:transparent;
}
